@import '_variables.scss';
@import '~@nappr/nappr-styles/styles.scss';
@import './tippy/';
@import '_spinner.scss';
@import '_tippy.scss';
@import '_markers.scss';
@import '_animations.scss';
@import '_leaflet.scss';

body {
  margin: 0;
  padding: 0;
  background-color: #90cccb;
}

* {
  outline: none;
  font-family: 'Mulish', helvetica, arial, sans-serif;
}

button:disabled {
  background: #ffffff;
  color: #b7b7b7;
}

.is-pacifico {
  font-family: 'Pacifico', cursive;
}

.debug * {
  outline: 1px solid rgba(255, 0, 0, 0.2);
}

.react-share__ShareButton {
  width: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  max-height: 32px;
  min-height: 32px;
}

#root,
#app-container {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #90cccb;
}
